*{
  font-family: sans-serif;
}

form {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: stretch;
}
.send{
  background-color: #0D6EFD;
  border: none;
  border-radius: 0 10px  10px  0;
  color: white;
}
.alls{
  text-decoration: line-through;
}
.todo-input{
  width: 300px;
  border: 1px solid grey;
  border-radius:  10px 0  0 10px;
  padding: 12px;
}
.list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.item {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    margin: 0 20px;
  }
}

.edit-btn {
  color: white;
  cursor: pointer;
  padding: 10px;
  background-color: rgb(254, 177, 36);
  border: none;
  border-radius: 5px;
}
.delete-btn{
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
    background-color: red;
    margin-left: 8px;
}

// @media screen and (50) {
  
// }
.complate{
  text-decoration: line-through;
  
}
